body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
  width: 100%;
}
.legend {
  background: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.5em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.legend span {
  width: 20px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #000;
}